html,
body {
    background: #000;
    color: #fff;
    font-family: 'Georgia';
}

body {
    margin: 0;
}

h1 {
    text-align: center;
}

.comic {
    font-family: cursive;
}

canvas {
    max-width: 100%;
}
